@page "/products"
@using Gold.Models
@using Newtonsoft.Json
@layout HomeLayout
@inject NavigationManager NavMgr

<style>

	body {
		font-family: 'Arabic Typesetting';
		background: url(skins/background.png) no-repeat center fixed;
		background-size: contain;
		background-color: black;
	}


	div {
		position: page;
	}

	#catcard {
		width: 95%;
		height: 60px;
		margin-top: 5%;
		margin-left: 2%;
		border: 1px solid;
		border-color: darkgoldenrod;
		border-radius: 25px;
	}

	#catcardin {
		margin: 1.3%;
		width: 50px;
		height: 50px;
		overflow: hidden;
		border: 1px solid;
		border-color: darkgoldenrod;
		border-radius: 25px;
		float:left;
	}
	#name
	{
		margin:3%;
		text-align: left;
		color: darkgoldenrod;
		font-size: x-large;
	}
</style>
<body>
	<div style="height:50px; width:350px;"></div>
	<div>
		@*@foreach (var COMPAN1 in GET())
		{*@
		@for (int i = 0; i < 10; i++)
		{	
				<div id="catcard">
					<div id="catcardin">
						<img src=""/>
					</div>
					<p id="name">company @i</p>
				</div>
		}
	</div>
</body>
@code
{
	//public List<Company> GET()
	//{
	//	List<Company> model = null;
	//	var client = new HttpClient();
	//	var task = client.GetAsync("https://localhost:7281/GetCompanies")
	//			.ContinueWith((taskwithresponse) =>
	//			{
	//				var response = taskwithresponse.Result;
	//				var jsonString = response.Content.ReadAsStringAsync();
	//				jsonString.Wait();
	//				model = JsonConvert.DeserializeObject<List<Company>>(jsonString.Result);

	//			});
	//	task.Wait();

	//	return model;
	//}

}